<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fitness Zone Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</head>
<body>
	<!-- header-section-starts -->	
			<div class="header-top">
			<div class="logo text-center">
				<h1><a href="index.html">Fitness Zone</a></h1>
			</div>
			<!-- navigation -->
<div class="navigation">
	<div class="container">
		<nav class="navbar navbar-default">
		 
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li class="hvr-bounce-to-bottom"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
					<li class="hvr-bounce-to-bottom active"><a href="about.html">ABOUT</a></li>
					<li class="hvr-bounce-to-bottom"><a href="typography.html">Services</a></li>
					<li class="hvr-bounce-to-bottom"><a href="gallery.html">GALLERY</a></li>
					<li class="hvr-bounce-to-bottom"><a href="blog.html">Blog</a></li>
					<li class="hvr-bounce-to-bottom"><a href="contact.html">Contact Us</a></li>
				  </ul>
			  <div class="clearfix"></div>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
</div>
<!-- //navigation -->


				<div class="clearfix"></div>
			</div>
	<div class="inner-banner">
	</div>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
	<!--start-welcome-->
	<div class="about-section">
		<h2 class="heading text-center">ABOUT US</h2>
		<div class="about-top">
			<div class="container">
					<div class="col-md-6 abt-text">
						<h3>Welcome to Our Fitness Zone...</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since,Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
						<p>Dolor amet At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia anim</p>
					</div>
					<div class="col-md-6 abt-pic">
						<img src="images/abt.jpg" alt="" />
					</div>
				    <div class="clearfix"> </div>
			</div>
		</div>
		<div class="ministries-sec">
			<div class="container">
				 <div class="col-md-6 what-do">
					 <h3>What We Do</h3>
					  <ul>
					 <li><a href="#">Always free from repetition</a></li>
					 <li><a href="#">Vestibulum rhoncus nibh quis dui fermentum iaculis.</a></li>
					 <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
					 <li><a href="#">In consequat dolor in lorem egestas ultrices.</a></li>
					 <li><a href="#">Ultrices rhoncus nibh quis dui.</a></li>
					 </ul>		
				 </div>
				 <div class="col-md-6 activites">
					  <h3>Activities</h3>
					  <ul>
					 <li><a href="#">Always free from repetition</a></li>
					 <li><a href="#">Vestibulum rhoncus nibh quis dui fermentum iaculis.</a></li>
					 <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
					 <li><a href="#">Ultrices rhoncus nibh quis dui.</a></li>
					 <li><a href="#">In consequat dolor in lorem egestas ultrices.</a></li>
					 </ul>	
				 </div>
				 <div class="clearfix"></div>
		  </div>
		 </div>
<!---->
<div class="get-started">
	 <div class="container">
		 <h4>We Ready  to Help You</h4>
		 <h3>Get the Best Solution for Your Fitness</h3>
		 <a href="#">GET STARTED</a>
	 </div>
</div>
<!---->
<div class="content-team">
			<div class="container">
				<h3>Our team</h3>
						<p>Dolor nunc estibulum vel libero ipsum sit.</p>
				<div class="team-left">
					<div class="col-md-3 team-top">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/t1.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h6>Contrary to popular</h6>
			                    <p>But I must explain to you how all this mistaken idea of denouncing</p>
                   		</div>
					</div>
					<div class="col-md-3 team-top team-in">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/t2.jpg" alt=""></a>
								<div class="mask">
				 						<ul class="social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
			                    </div>
			                    <h6>Contrary to popular</h6>
			                    <p>But I must explain to you how all this mistaken idea of denouncing</p>
                   		 </div>
					</div>
					<div class="col-md-3 team-top">
						<div class="view view-seventh">
									<a href="#"><img class="img-responsive" src="images/t3.jpg" alt=""></a>
									<div class="mask">
				 						<ul class="social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
				                    </div>
				                    <h6>Contrary to popular</h6>
			                    <p>But I must explain to you how all this mistaken idea of denouncing</p>
                   		</div>
					</div>
					<div class="col-md-3 team-top top-team">
						<div class="view view-seventh">
									<a href="#"><img class="img-responsive" src="images/t4.jpg" alt=""></a>
								<div class="mask">
				 						<ul class="social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
			                    </div>
			                    <h6>Contrary to popular</h6>
			                    <p>But I must explain to you how all this mistaken idea of denouncing</p>
			            </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
<!--/index-team-->
</div>
	<!-- footer-section -->
	<div class="footer">
		<div class="container">
			<div class="copyright text-center">
				<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		</div>
	</div>
	<!-- footer-section -->
	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 

</body>
</html>