{% load make_tag %}
<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="/static/js/jquery.min.js"></script>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fitness Zone Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='/static/https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='/static/https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
		<script src="/static/js/bootstrap.js"></script>
</head>
<body>
			<div class="header-top">
			<div class="logo text-center">
				<h1><a href="#">健身中心</a></h1>
			</div>
<div class="navigation">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>
			<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li class="hvr-bounce-to-bottom active"><a href="#">主页 <span class="sr-only">(current)</span></a></li>
					<li class="hvr-bounce-to-bottom"><a href="#">ABOUT</a></li>
					<li class="hvr-bounce-to-bottom"><a href="#">Services</a></li>
					<li class="hvr-bounce-to-bottom"><a href="#">GALLERY</a></li>
					<li class="hvr-bounce-to-bottom"><a href="{% url 'sport:blog' %}">博客</a></li>
					<li class="hvr-bounce-to-bottom"><a href="{% url 'sport:contact' %}">联系我们</a></li>
				  </ul>
			  <div class="clearfix"></div>
			</div>
		</nav>
	</div>
</div>

				<div class="clearfix"></div>
			</div>
	<div class="header-banner">
		<div class="banner">
						<div  id="top" class="callbacks_container">
						<ul class="rslides" id="slider4">
						<li>
									<div class="banner-info">
										<h3>To enjoy the glow of good health, you must exercise. </h3>
									</div>
								</li>
								<li>
									<div class="banner-info">
									   <h3>If you dont live for something you’ll die for nothing.</h3>
									</div>
								</li>
								<li>
									<div class="banner-info">
										<h3>A lot of people are afraid of heights. Not me, I'm afraid of widths.</h3>
									</div>								
								</li>
							</ul>
						</div>
						<!-- banner Slider starts Here -->
					<script src="/static/js/responsiveslides.min.js"></script>
				 <script>
					// You can also use "$(window).load(function() {"
					$(function () {
					  // Slideshow 4
					  $("#slider4").responsiveSlides({
						auto: true,
						pager:true,
						nav: true,
						speed: 500,
						namespace: "callbacks",
						before: function () {
						  $('.events').append("<li>before event fired.</li>");
						},
						after: function () {
						  $('.events').append("<li>after event fired.</li>");
						}
					  });
				
					});
				  </script>				
				   </div>
	</div>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
<div class="welcome">
	 <div class="container">
		 {% for w in words%}
		 <div class="col-md-3 welcome-left">
			 <h2>{{w.logo_word}}</h2>
		 </div>
		 <div class="col-md-9 welcome-right">
			 <h1>{{w.secnd_word}}</h1>
			 <h2>{{w.content}}</h2>
		 </div>
		 {% endfor %}
	 </div>
</div>
<!---->
<div class="bride-grids">
	 <div class="container">
		 <div class="col-md-4 bride-grid">
			 <div class="content-grid l-grids">
				 <figure class="effect-bubba">
						<img src="/static/images/b1.jpg" alt=""/>
						<figcaption>
							<h4>Cardio </h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>																
						</figcaption>			
				 </figure>
				 <div class="clearfix"></div>
				 <h3>Cardio</h3>
			 </div>
			 <div class="content-grid l-grids">
				 <figure class="effect-bubba">
						<img src="/static/images/b2.jpg" alt=""/>
						<figcaption>
							<h4>Aerobics</h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>																
						</figcaption>			
				 </figure>	
				 <div class="clearfix"></div>
				 <h3>Aerobics</h3>
			 </div>
		 </div>
		 <div class="col-md-4 bride-grid">
				<div class="content-grid l-grids">
						<img src="/static/images/brid.jpg" alt=""/>
						
				 <h3>Morning Walk</h3>
			 </div>
		 </div>
		 <div class="col-md-4 bride-grid">
			 <div class="content-grid l-grids spanl-grid1">
				 <figure class="effect-bubba">
						<img src="/static/images/b3.jpg" alt=""/>
						<figcaption>
							<h4>Weights Lifting </h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>																
						</figcaption>			
				 </figure>	
				 <div class="clearfix"></div>
				 <h3>Weights Lifting</h3>
			 </div>
			 <div class="content-grid l-grids spanl-grid2">
				 <figure class="effect-bubba">
						<img src="/static/images/b4.jpg" alt=""/>
						<figcaption>
							<h4>Mobility Exercises </h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>																
						</figcaption>			
				 </figure>
					<div class="clearfix"></div>
				 <h3>Mobility Exercises</h3>
			 </div>			 
					<div class="clearfix"></div>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >手机网站模板</a></div>
<!---->
<div id="pricing" class="pricing">
	 <div class="container">
		 <div class="pricing-text text-center">
			 <h3>Our Pricing & Plans</h3>
			 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		 </div>
		 <div class="pricing-section">
			 <div class="col-md-4 pricing-grid">
				 <div class="pricing-top text-center">
					 <h3>Basic</h3>
					 <p>From <span>$10</span> per month</p>
				 </div>
				 <div class="pricing-offer">
					 <ul>
						<li class="whyt"><a href="#">Unlimited Monthly Sessions </a></li>
						<li><a href="#">8 Class Package</a></li>
						<li class="whyt"><a href="#">10 Class Package</a></li>
						<li><a href="#">4 Class Package </a></li>
						<li class="whyt"><a href="#">One Class Walk In</a></li>
				     </ul>
					 <div class="sign text-center">
						<a class="popup-with-zoom-anim" href="#small-dialog">BUY</a>
					 </div>
				 </div>
			 </div>
			 <div class="col-md-4 pricing-grid">
				 <div class="pricing-top text-center">
					 <h3>Standard</h3>
					 <p>From <span>$99</span> per month</p>
				 </div>
				 <div class="pricing-offer">
					 <ul>
						<li class="whyt"><a href="#">Unlimited Monthly Sessions </a></li>
						<li><a href="#">8 Class Package</a></li>
						<li class="whyt"><a href="#">10 Class Package </a></li>
						<li><a href="#">4 Class Package </a></li>
						<li class="whyt"><a href="#">One Class Walk In</a></li>
				     </ul>
					 <div class="sign text-center">
						 <a class="popup-with-zoom-anim" href="#small-dialog">BUY</a>
					 </div>
				 </div>
			 </div>
			 <div class="col-md-4 pricing-grid">
				 <div class="pricing-top text-center">
					 <h3>Golden</h3>
					 <p>From <span>$150</span> per month</p>
				 </div>
				 <div class="pricing-offer">
					 <ul>
						<li class="whyt"><a href="#">Unlimited Monthly Sessions</a></li>
						<li><a href="#">8 Class Package</a></li>
						<li class="whyt"><a href="#">10 Class Package </a></li>
						<li><a href="#">4 Class Package </a></li>
						<li class="whyt"><a href="#">One Class Walk In</a></li>
				     </ul>
					 <div class="sign text-center">
						 <a class="popup-with-zoom-anim" href="#small-dialog">BUY</a>
					 </div>
				 </div>
			 </div>
			 <div class="clearfix"> </div>
		 </div>

		 <script src="/static/js/jquery.magnific-popup.js" type="text/javascript"></script>

 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>
								 <div id="small-dialog" class="mfp-hide">
									<div class="pop_up">
									 	<div class="payment-online-form-left">
											<form>
												<h4><span class="shipping"> </span>Shipping</h4>
												<ul>
													<li><input class="text-box-dark" type="text" value="Frist Name" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Frist Name';}"></li>
													<li><input class="text-box-dark" type="text" value="Last Name" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Last Name';}"></li>
												</ul>
												<ul>
													<li><input class="text-box-dark" type="text" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}"></li>
													<li><input class="text-box-dark" type="text" value="Company Name" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Company Name';}"></li>
												</ul>
												<ul>
													<li><input class="text-box-dark" type="text" value="Phone" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Phone';}"></li>
													<li><input class="text-box-dark" type="text" value="Address" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Address';}"></li>
													
												</ul>
												<div class="clearfix"></div>
												<h4 class="paymenthead"><span class="payment"></span> Payments</h4>
												<div class="clearfix"></div>
											<ul class="payment-type">
												<li><span class="col_checkbox">
													<input id="3" class="css-checkbox1" type="checkbox">
													<label for="3" class="css-label1"></label>
													<a class="visa" href="#"></a>
													</span>												
												</li>
												<li>
													<span class="col_checkbox">
														<input id="4" class="css-checkbox2" type="checkbox">
														<label for="4" class="css-label2"></label>
														<a class="paypal" href="#"></a>
													</span>
												</li>
											</ul>
												<ul>
													<li><input class="text-box-dark" type="text" value="Card Number" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Card Number';}"></li>
													<li><input class="text-box-dark" type="text" value="Name on card" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Name on card';}"></li>
												
												</ul>
												<ul>
													<li><input class="text-box-light hasDatepicker" type="text" id="datepicker" value="Expiration Date" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Expiration Date';}"><em class="pay-date"> </em></li>
													<li><input class="text-box-dark" type="text" value="Security Code" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Security Code';}"></li>
												
												</ul>
												<ul class="payment-sendbtns">
													<li><input type="reset" value="Reset"></li>
													<li><a href="#" class="order">Process order</a></li>
												</ul>
												<div class="clearfix"></div>
											</form>
										</div>
						  			</div>
								</div>
								<!--pop-up-grid-->
	 </div>
</div>
<!---->
<!---->
<div class="get-started">
	 <div class="container">
		 <h4>We Ready  to Help You</h4>
		 <h3>Get the Best Solution for Your Fitness</h3>
		 <a href="#">GET STARTED</a>
	 </div>
</div>
<!---->
<div class="content-team">
			<div class="container">
				<h3>Our team</h3>
						<p>Dolor nunc estibulum vel libero ipsum sit.</p>
				<div class="team-left">
					<div class="col-md-3 team-top">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="/static/images/t1.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h6>Contrary to popular</h6>
			                    <p>But I must explain to you how all this mistaken idea of denouncing</p>
                   		</div>
					</div>
					<div class="col-md-3 team-top team-in">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="/static/images/t2.jpg" alt=""></a>
								<div class="mask">
				 						<ul class="social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
			                    </div>
			                    <h6>Contrary to popular</h6>
			                    <p>But I must explain to you how all this mistaken idea of denouncing</p>
                   		 </div>
					</div>
					<div class="col-md-3 team-top">
						<div class="view view-seventh">
									<a href="#"><img class="img-responsive" src="/static/images/t3.jpg" alt=""></a>
									<div class="mask">
				 						<ul class="social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
				                    </div>
				                    <h6>Contrary to popular</h6>
			                    <p>But I must explain to you how all this mistaken idea of denouncing</p>
                   		</div>
					</div>
					<div class="col-md-3 team-top top-team">
						<div class="view view-seventh">
									<a href="#"><img class="img-responsive" src="/static/images/t4.jpg" alt=""></a>
								<div class="mask">
				 						<ul class="social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
			                    </div>
			                    <h6>Contrary to popular</h6>
			                    <p>But I must explain to you how all this mistaken idea of denouncing</p>
			            </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
<!--/index-team-->

	<!-- footer-section -->
	<div class="footer">
		<div class="container">
			<div class="copyright text-center">
				<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		</div>
	</div>
	<!-- footer-section -->
	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 

</body>
</html>