{% extends "polls/base.html" %}
{% block title %}
    首页
{% endblock %}

{% block body %}
    {% if request.user and request.user.is_authenticated %}
        <h4>当前用户为 {{ request.user }} <a href="{% url 'polls:logout' %}">退出</a> </h4>
    {% endif %}

        {% autoescape off %}
        {{ info }}
        {{ info2 }}
        {{ info3 }}
        {% endautoescape %}



    <br>
     <h1>首页</h1>
        <ul>

            {% for q in questions %}
                <h4><li><a href="{% url 'polls:detail' q.id %}">{{forloop.counter}}--{{q.title}}</a></li></h4>
            {% endfor %}

        </ul>


{% endblock %}



{# {{forloop.counter}} 计数 #}